{{ form(form) }}
{% if weather %}
    <ul>
        <li>Location: {{ weather.Location|default('') }}</li>
        <li>Time: {{ weather.Time|default('') }}</li>
        <li>Wind: {{ weather.Wind|default('') }}</li>
        <li>Visibility: {{ weather.Visibility|default('') }}</li>
        <li>SkyConditions: {{ weather.SkyConditions|default('') }}</li>
        <li>Temperature: {{ weather.Temperature|default('') }}</li>
        <li>DewPoint: {{ weather.DewPoint|default('') }}</li>
        <li>RelativeHumidity: {{ weather.RelativeHumidity|default('') }}</li>
        <li>Pressure: {{ weather.Pressure|default('') }}</li>
        <li>Status: {{ weather.Status|default('') }}</li>
    </ul>
{% endif %}
